.destra {
    text-align: right;
    background-color: grey;
    color: blue;
}

body {
    background: brown;
    margin-top: 5%;
}

h1 {
    margin-bottom: 5%;
    background: grey;
    margin-left: 20%;
    width: 60%;
    color: orange;
    font-size: 0.9em;
    border: solid black;
    font-weight: bold;
    text-align: center;
}

p {
    background: blue;
    color: orange;
    margin-left: 30%;
    width: 40%;
    border: solid black;
    text-align: center;
    font-weight: bold;
}

input:hover {
    background: green;
    color: black;
}

form {
    background: blue;
    margin-left: 33%;
    width: 33%;
    border: solid black;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}